/* COLORS 
#E63946     RED
#F1FAEE     OFF-WHITE
#A8DADC     LIGHT-BLUE
#457B9D     BLUE
#1D3557     DARK-BLUE
*/


/* INTER FONT FAMILY */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

/* GENERAL MARGINS */
body {
margin: 0 1em;
}

/* PERSISTENT HEADER */
.white-space {
    position: sticky;
    top: 0;
    height: 1em;
    background-color: white;
}
.sticky-header {
    position: sticky;
    top: 1em;
    background-color: #1D3557;
    color: #F1FAEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    text-transform: uppercase;
}
.sticky-header > h1 {
    flex-grow: 2;
    margin: 0;
}
.sticky-header > nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    /* NAV */
    .sticky-header > nav > a {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 600;
        color: #F1FAEE;
        text-align: right;
        flex-grow: 1;
    }
    .sticky-header > nav > a:hover {
        text-decoration: underline;
    }
    .sticky-header > nav > a:active {
        color: #E63946;
        text-decoration: underline;
    }
    .sticky-header > nav > .current-page {
        text-decoration: underline;
    }

/* HOME CONTENT */
main {
    display: flex;
    flex-direction: column;
    padding: 1em;
}