/* COLORS 
#E63946     RED
#F1FAEE     OFF-WHITE
#A8DADC     LIGHT-BLUE
#457B9D     BLUE
#1D3557     DARK-BLUE
*/

/* INTER FONT FAMILY */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    }
    @supports (font-variation-settings: normal) {
        :root { font-family: InterVariable, sans-serif; }
        }

/* GENERAL */
html {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(180deg, #E63946, #457B9D, #1D3557);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: #F1FAEE;
}

/* SMALL-SCREENS */
@media screen and (max-width:1200px) {
    #home-main-id {padding: 1em 10%}
    .home-main-topdiv {flex-wrap: wrap;}
        .home-summary:first-child {flex-basis: 100%;}
            .hey-im-ryan > .hey-im-ryan-h2 {margin: 0 0 0 0; text-align: center;}
            .why-am-i-here > .why-am-i-here-h2 {margin: 0 0 0 0; text-align: center;}
    .about-main {gap: 2em;}
    #about-main-id {padding: 1em 10%}
        .about-backpacking {flex-wrap: wrap;}
        #backpacking-gap {gap: .5em;}
            .article-backpacking {text-align: center;}
        .about-milo {flex-wrap: wrap; flex-direction: column-reverse; text-align: center; align-content: center;}
        #milo-gap {gap: .5em}
        .about-milo > video {height: 10em;}
        .article-location {text-align: center; margin-bottom: .5em;}
    .portfolio-main {align-items: center;}
    #portfolio-main-id {padding: 1em 10%}
    #portfolio-film-id {flex-direction: column; align-items: center; gap: 0em;}
        #burnt-out-poster {height: 20em; width: 15em; margin-bottom: .5em;}
        .poster-container > div {width: 2em; margin-bottom: .5em;}
        .burnt-out {align-items: center;} 
            .burnt-out > article {text-align: center; margin-bottom: .5em;}
            .burnt-out > .behind-the-scenes {width: 100%;}
    .portfolio-donut {text-align: center;}
}

/* HEADER */
.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #1D3557;
    padding: 1em 3em;
    text-transform: uppercase;
    z-index: 999;
    }
    .sticky-header > h1 {
        flex-grow: 2;
        margin: 0;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-image: -webkit-linear-gradient(-90deg, #E63946, #457B9D, #E63946);
        background-size: 400% 400%;
        animation: header-gradient 30s ease infinite;
    }
        @keyframes header-gradient {
            0% {background-position: 0% 50%;}
            50% {background-position: 50% 100%;}
            100% {background-position: 0% 50%;}
        }
    .sticky-header > nav {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 20%;
    }
        nav > a {
            -webkit-text-fill-color: transparent;
            background-clip: text;
            background-image: -webkit-linear-gradient(-90deg, #E63946, #457B9D, #E63946);
            background-size: 400% 400%;
            animation: header-gradient 30s ease infinite;
            text-decoration: none;
        }
        nav > a:hover {
            color: #F1FAEE;
            -webkit-text-fill-color: #F1FAEE;
        }
        .current-page {
            color: #F1FAEE;
            -webkit-text-fill-color: #F1FAEE;
        }

/* HOME */
.home-main {
    padding: 1em 20%;
}
    .home-main-topdiv {
        display: flex;
        gap: 3em;
    }
        .home-summary {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
            gap: 1em;
        }
            .home-summary > article > p {
                text-align: center;
            }
            .home-summary > article {
                background-color: rgba(69, 123, 157, 0.2);
                padding: 1em;
                border-radius: 1em;
            }
            .hey-im-ryan > h2 {
                margin: 0 0 0 20%;
            }
            .why-am-i-here > h2 {
                text-align: right;
                margin: 0 20% 0 0;
            }
        .home-image {
            flex: 1;
            align-content: center;
        }
            .home-image > img {
                width: 100%;
                border-radius: 1em;
            }
    .home-quote {
        text-align: center;
        padding: 2em;
    }
    .home-icons {
        display: flex;
        justify-content: space-around;
    }
    .home-icons > a > img:hover {
        transform: scale(1.2);
    }

/* ABOUT */
.about-main {
    padding: 1em 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
    .article-backpacking, .article-milo, .article-location {
        background-color: rgba(69, 123, 157, 0.2);
        padding: 1em;
        border-radius: 1em;
    }
    .about-backpacking {
        display: flex;
        justify-content: center;
        text-align: right;
        align-items: center;
        gap: 3em;
    }
        .about-backpacking > img {
            height: 15em;
            border-radius: 1em;
        }
    .about-milo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }
        .about-milo > video {
            max-height: 15em;
            border-radius: 1em;
        }
    .about-location > iframe {
        border-radius: 1em;
    }

/* PORTFOLIO */
.portfolio-main {
    padding: 1em 20%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
    .portfolio-film {
        display: flex;
        gap: 2em;
    }
        .poster-container {
            flex-grow: 1;
            display: flex;
        }
            .poster-container > img {
                width: 90%;
            }
            .poster-container > div {
                background-color: #1D3557;
                opacity: 50%;
            }
            .poster-container > div:hover {
                opacity: 100%;
            }
                .poster-container > div > a > img {
                    opacity: 50%;
                    height: 100%;
                    width: 100%;
                }
                .poster-container > div > a > img:hover {
                    opacity: 100%;
                }
        .burnt-out > article {
            background-color: rgba(69, 123, 157, 0.2);
            padding: 1em;
            border-radius: 1em;
        }
    .burnt-out {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
        .burnt-out > img {
            width: 60%;
            border-radius: 1em;
        }
.portfolio-donut {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
    .portfolio-donut > article {
        background-color: rgba(69, 123, 157, 0.2);
        padding: 1em;
        border-radius: 1em;
    }
    .donut-images {
        display: flex;
        gap: 1em;
        justify-content: space-around;
        flex-wrap: wrap;
    }
        .donut-images > img {
            flex-grow: 1;
            width: 30%;
            border-radius: 1em;
        }