/* COLORS 
#E63946     RED
#F1FAEE     OFF-WHITE
#A8DADC     LIGHT-BLUE
#457B9D     BLUE
#1D3557     DARK-BLUE
*/

/* INTER FONT FAMILY */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

/* TEMPORARY */

.about-backpacking > img {
    height: 200px;
}
.about-milo > video {
    height: 200px;
}
.home-image > img {
    width: 200px;
}
.portfolio-film > img {
    height: 300px;
}
.portfolio-donut > img {
    height: 200px;
}

/* GENERAL */
body {
    margin: 0;
}

/* HEADER */
.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0;
}
.sticky-header > nav {
    display: flex;
    justify-content: flex-end;
    gap: 20%;
}
    nav > a {
        text-decoration: none;
    }
    nav > a:hover {
        text-decoration: underline;
    }
    .current-page {
        text-decoration: underline;
    }

/* HOME */

/* ABOUT */

/* PORTFOLIO */